
/* fundo do simulador */

[data-testid="stAppViewContainer"] {
    background-color: #ffffff;
    }

/* barra do simulador */

[data-testid="stSidebar"] {
    background-color: #9966ff;
    }

/* título do simulador */

span.css-10trblm.e16nr0p30 {
    font-size: 46px;
    font-family: 'Knockout', knockout;
    color: #9966FF ;
    font-weight: bold;
    text-align: center;
}

/* botão de cálculo da previsão */
div.css-1vbkxwb.e16nr0p34 {
    /* background-color: #CCCCCC;
    border: 1px solid #CCCCCC; */
    padding: 2% -1% 2% 1%;   /* primeiro elemento é altura, o segundo é a posição que o texto ocupa dentro do card, terceiro é altura, quarto é a largura   */ 
    border-radius: 5px;    /*isso aqui deixa a borda redonda */
    font-family: 'Barlow Semibold', barlow;
    }

/* categoria */
div.css-16idsys.e16nr0p34 {
    font-size: 48px;
    font-family: 'Barlow Semibold', barlow;
    color: #9966FF ;
    font-weight: bold;
    text-align: left;
    }

label.css-81oif8.effi0qh3 {
    font-size: 48px;
    font-family: 'Barlow Semibold', barlow;
    color: #9966FF ;
    font-weight: bold;
    text-align: left;
    }

/* foguete */

.center {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 38%;
    height: 44%;
    top: 125px;
    left: 112px;
  }

/* Hide hamburger menu and footer */

footer.css-164nlkn.egzxvld1 {
    display: none;
    }


/* esconder ícone do git */

button.css-nqowgj-edgvbvh3 {
    display: none;
    }

div.css-1wbqy5l.e10z71041 {
    display: none;
    }

div.css-14xtw13.e8zbici0 {
    display: none;
    }
